body { 
	margin: 0;
	padding: 0;
	font-family: "宋体";
	font-size: 12px;
	color:#666;
	background-color: #f9f9f9;
	min-width: 1190px;
	box-sizing:content-box}/*内外边距.颜色*/
div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, img, form, input {
    margin: 0;
    padding: 0;
	border: none;}/*部分标签去除内外边距.和边框*/
table,th,td{
	font:12px '宋体';
    font-style: normal;
    font-weight: normal;}
a{
	text-decoration:none;
	cursor: pointer;}/*去除下划线*/
ul{list-style:none;}/*去除小黑点*/
i{font-style:normal;}
.text-left{
	text-align:left !important}
.text-right{
	text-align:right !important}
.text-center{
	text-align:center !important}
.flex{
	display:flex !important}
/*index*/
.main{
	width:1200px;
	margin:0 auto;}        /*容器  居中*/
.font333{
	font:14px "微软雅黑";
	color:#333; }
.font999{
	font:12px "宋体";
	color:#999;  }
.font666{
	font:12px "宋体";
	color:#666;  }
.font-f90{
	font:14px "微软雅黑";
	color:#ff9200;  }
.fontE50{
	color: #e50000;
	font:40px "微软雅黑";
	padding:10px 8px;
	margin:0 0 15px 5px;}
.h-100{height:100% !important}
.text-center{text-align:center !important}
.top{height:130px;
	color:#666;}            /*主页头部*/
.top .top1{
	height:40px;
	width:100%;margin:auto;
	line-height:40px;
	background:#f3f3f3;
	}                               /*主页头部1*/
.top1-too1{
	float:left;
    color:#666;
	font-family:"宋体";}

.top1-too2{float:right}                  /*头部靠右*/
.top1-too2>ul>li{
	float:left;             /*头部内容格式*/
	text-align:center;
	padding:0 12px 0;
}
.top1-too2>ul>li>a{
	font-size:13px;       /*头部a标签格式*/
	color:#666;}
.top1-too2>ul>li:nth-child(3){
	width:70px;
	height:40px;}
.cart-image{
	width:14px;
	height:14px;         /*购物车图标*/
	background:url(../images/car.png) no-repeat 12px;				
	}
.cart-image,.topuser-image{box-sizing: content-box;}
 .top1-too2>ul>li.topuser-image{
	height:40px; /*用户图标*/
	background:url(../images/ren.png) no-repeat 12px;
	padding-right:0px;
	text-indent:15px;
}
.top2{
	width:1200px;
	height:90px;
	display:flex;}
.topuser-image span {padding:0 3px;}
/*top2--1*/
.logo1{
	width:220px;height:50px;
	background:url(../images/logo.png);
	margin-top:20px;
	margin-right:25px;
	float:left}
.top2 ul li{
	padding:0 32px;	
	float:left
	}
.top2 ul li a{
	font: 18px 微软雅黑;
	color:#333}
.top2>div:nth-child(2){
	margin-top:20px;
	margin-left:15px;
	height:50px;
	line-height:56px;
}

/*top2--3Search*/
.top2>div:nth-child(3){
	box-sizing: content-box;
	width:340px;height:33px;
	float:left;margin-top:27px;
	border:1px solid #dddddd;
}
.top-text{
	width:280px;height:33px;
	padding-left:5px;
	box-sizing: content-box;
	text-indent:5px;
	line-height:33px;
	font:15px 宋体;
	color:#cecece;
	float:left;			
}
.Search{
	border:0;
	outline:0;
	background:url(../images/sech.png) no-repeat;
	width:55px;height:33px;
	float:left;		
}
/*标题导航栏*/
.banner{
	width:1200px;height:450px;
	margin:0 auto;
	background:url(../images/1559701588.jpg)
}
.banner>div{
	height:450px;
	display:inline-block;
	background:url(../images/bg01.png)
}
.banner-divflex{display: flex}			
.banner-nav>li{
	font:16px 微软雅黑;
	padding:15px 0;
}
.banner-nav>li>a:hover{background:#ff9200}
.banner-nav>li>a{
	width:210px;height:45px;
	display:inline-block;
	color:#fff;
	padding:0 15px;
	line-height:45px;
	background:url(../images/jj.png) no-repeat 204px 9px;
}
/*标题导航项*/
.banner-nab{
	background:#fff;
	height:430px;
	padding-top:20px;
}
.banner-nab>li{
	margin:10px 0;
	width:170px;
	padding-left:45px;
}
.banner-nab>li a{
	display:inline-block;
	width:170px;
	height:55px;
	font:13px "微软雅黑";
	color:#666;
	line-height: 20px;
}
.banner-nab >li a:hover{color:#ffa000}
.banner-divflex>.banner-divflex{
	overflow:hidden;
	width:0px;}		
	/*215.230*/			
/*.center-1*/
.center-1{
	width:1200px;
	height:165px;
	margin:15px auto 0;}
.center-1>ul{
	display:flex;
	justify-content:space-between;}
.center-1>ul>li{width:305px;height:165px;}
.center-1>ul>li:first-child{
	width:210px;
	padding:0 15px;
	background:#5f5750
}
/**/
.center-1-liul{
	display:flex;
	flex-wrap:wrap;}
.center-1-liul>div{width:105px;height:82.5px;}
.center-1-lidiv1{background:url(../images/tt.png) no-repeat right}
.center-1-lidiv2{background:url(../images/tt2.png) no-repeat bottom}
.center-1-lidiv3{background:url(../images/tt2.png) no-repeat top}
.center-1-lidiv4{background:url(../images/tt.png) no-repeat left}
.center-1-liul a{
	font:13px 宋体;
	color:#cdcacb;
	text-align:center;
}
.center-1-liul a>div{
	margin-top:10px;
	margin-bottom:5px;
}
.center-1-liul a div:first-child{height:30px;}
/*.center-2*/
.center-2{
	width:1200px;
	height:393px;
	margin:45px auto 0;
	overflow: hidden;
}
.center-2>div:first-child{height:34.44px}
.center-2>div>h1{
	height:34px;
	font:26px 微软雅黑 ;
color:#333;float:left;
				}
.center-2>div>p{
	height:34px;
	font:12px 宋体 ;
	color:#999;
	margin-left:8px;
	vertical-align:bottom;
	line-height:44px;
	float:left;
}
/* 箭头*/
.center-2-left{
	width:30px;height:30px;
	background:url(../images/ca_hz_002.gif) no-repeat;
	position:relative;
	top:7px ;left:-40px;
	float:right;
	cursor:pointer;
}
.center-2-right{
	width:30px;height:30px;
	background:url(../images/ca_hz_003.gif) no-repeat;
	position:relative;
	top:7px ;left:30px;
	float:right;
	cursor:pointer;
}				
/*轮播图*/
.center-slideshow{
	width:4800px;
	height:303px;
	padding:20px 0 25px;
	margin-top:10px;
	background:#fff;
	overflow: hidden;/*溢出隐藏*/
	display:flex;
	float:left;
}
/*轮播图1*/
.center-slideshow-1{
	width:240px;height:303px;
	text-align:center;
}
.center-slideshow-1 img{width:200px;height:200px;}
.center-slideshow-1 h1{
	width:190px;height:38px;
	margin:5px 25px 0;
	font:14px 微软雅黑;
	color:#333;
	text-align:left;
}
.center-slideshow-1 p{
	width:190px;height:20px;
	margin:10px 25px 0;
	font:12px 宋体;
	color:#999;
	text-align:left;
}
.center-slideshow-1 a>div{
	width:190px;height:20px;
	font:14px 微软雅黑;
	margin:10px 25px 0;
	color:#ff9200;
	text-align:left;
}
.center-slideshow-1 p span{
	float:right;
text-align:right}
/*.center-33333333333333333333333333 */
.center-3{
	width:1200px;height:50px;
	margin:40px auto 0;
}
.center-3 h1{
	font:26px 微软雅黑;
	color:#333;
}
.center-3 h1 span{
	font:12px 宋体;
	color:#999;
	margin-left:8px;
}
/*.center-4444444444444444444444444 */
.center-4{
	width:1200px;height:150px;
	margin:40px auto 0;
}
/*.center-5555555555555555555555555 */
.center-5{
	width:1200px;height:393px;
	margin:45px auto 0;
}
.center-5-1>h1{
	font:26px 微软雅黑;
	color:#333;
}
.center-5-1>h1>span{
	font:12px 宋体;
	color:#999;
	margin-left:8px
}
/*left img*/
.center-5-2 div{display:flex;}
.center-5-2 div>div{
	width:480px;height:350px;
	margin-top:10px;
}							     
/*right img */
.center-5-2 ul{display:flex;}
.center-5-2 li{
	width:210px;
	height:320px;
	margin-top:10px;
	padding:15px;
	background:#fff;
	text-align:center;
}
.center-5-2 ul li img{width:210px;height:210px;}
.center-5-2 ul li h1{
	font:14px 微软雅黑;
	color:#333;
	margin-top:25px;
	line-height:30px;
}
.center-5-2 ul li p{
	font:12px 微软雅黑;
	color:#999;
	line-height:20px;
}
.center-5-2 ul li h2{
	font:14px 微软雅黑;
	color:#ff9200;
	line-height:20px;
}
.center-5-2 ul li:hover h1{
	color:#ff9200;
}
/*fixed 未完成*/
 .fixed{
	position:fixed;
	box-sizing: content-box;/*默认外+内+边+设定*/
    right:0px;bottom:30%;
	margin-right:20px;
	padding-bottom:20px;
}
.fixed div a{display:block;} 
.fixed div:hover{background:#ffab3b}
.fixed div{
	width:51px;height:51px;
	margin-bottom:7px;
	cursor:pointer;
	border-radius:50%;
	overflow: hidden;
}
#fixed1 img:last-child{
	position:absolute;
	width:140px;height:140px;
	top:-44px;
	right:55px;
	display:none
}
#fixed1:hover>div>img{
	display:block
}
#fixed2>div{
	position:absolute;
	width:160px;height:41px;
	border-radius:21px;
	font-size: 18px;		
	line-height: 41px;
	text-align: center;
	top:63px;
	right:52px;
	margin:0px;
	color:#fff;
	background:#ffab3b;
	display:none
}
#fixed2:hover>div{
	display:block
}
#fixed4{
	background:url(../images/k4s.png) no-repeat ;
	border-radius:0;
	height:0px;
	transition: all 0.3s linear;
}
/*bottom*/
/*bottom-1*/
.bottom{
	width:100%;
	margin-top:60px;
	padding:5px 0 10px;
	box-sizing: content-box;
	background:#f3f3f3}
.bottom-1 ul{
	display:flex;
	justify-content:center;}
.bottom-1 li>img{width:300px;height:120px;
 }
/*bottom-2*/
.bottom-2{
	width:1200px;height:175px;
	margin:auto;
}
.bottom-2-1{
	width:870px;height:150px;
	padding-bottom:25px;
	float:left;
	box-sizing: content-box;
}
.bottom-2-1 ul{display:flex;}
.bottom-2-1 ul li{width:145px;}
.bottom-2-1 ul li h1{
	font:16px 微软雅黑;
	color:#666;
	height:40px;
	line-height:40px;
}
.bottom-2-1 ul li p{
	 height:23px;
	 line-height:23px;
}
.bottom-2-1 ul li a{
	 font:12px 宋体;
	 color:#999;
}
.bottom-2-2{
	width:330px;height:175px;
	float:left;
	text-align:right;
	position: relative;
}	
.bottom-2-2 h1{
	font:23px 微软雅黑;
	color:#ff9200;
	margin-bottom:6px;
}
.bottom-2-2 p{color:#999}
.bottom-2-2 p>a{
	width:88.5px;height:28px;
	display:inline-block;
	background:url(../images/kf.jpg) no-repeat;
	margin-top:15px;
}
/*dl功能未实现*/
.bottom-2-2 dl{
	width:135px;
	height:28px;
	margin-top:15px;
	color:#999;
	background:url(../images/link.png) no-repeat;
	float:right;
	cursor: pointer;
}
.bottom-2-2>img{
	position: absolute;
	right:-60px;
}
.bottom-2-2>div{
	position: absolute;
	right:0px;
}				
/*bottom-3*/
.bottom-3{
	width:1200px;height:45px;
	margin:auto;
}
.bottom-3 p{
	font:12px 微软雅黑;
	color:#999;
	line-height:45px;
}
.bottom-3 p span{
	color:#999;
	float:right
}
.bottom-3 p a{color:#999;}
/*//////////////////////////////////////////////*/
.left{float:left}		/**/
.right{float:right}    /**/
/*login-top*/
.top-login{
	width:100%;
	height:90px;
}
.logo{
	float:left;
	margin-top:20px;
}
.tell{
	float:right;
	margin-top:60px;
	color:#ff9200;
	font-family:"方正兰亭黑简体";
	font-size:12px;
}
.tell i{font-size:18px}
/*login-body*/
.login{
    width:1200px;
    background: #fff;
    height: 300px;
    padding: 140px 0 100px;
	margin:0 auto;
}
.loginz {
    text-align: center;         
    padding-top: 15px;
    padding-bottom: 15px;
	height:234px;
    width: 332px;
    display: block;            
    margin: 0 auto;
}
/*账号密码*/
.loginz div {
    width: 100%;
    padding: 10px 0 8px;
    margin: 0 auto;
    height: 45px;
    text-align: left;
    line-height: 45px;
}
.w1{background: url("../images/lin.png") no-repeat 300px;}
.w2{background: url("../images/lin2.png") no-repeat 300px;}
.login-text{
    width: 332px;
    height: 40px;
    border: 1px solid #d4d4d4;
    text-indent: 8px;
    float: left;
    color: #999;
    float: left;
	line-height: 42px;
}
.login-reg{padding:0;line-height:30px}
/*登录按钮*/
.loginz div .submit{
	height:52px;
	text-align:center;
	width:332px;
	line-height:52px;
	color:#fff;
	font-family:微软雅黑;
	font-size:20px;
	background:rgb(0,97,174);
	border: 0;
}
/*字*/
.loginz div a {
    font-family: "宋体";
    color: #0061ae;
	margin-left:6px}
.loginz div span a {
    color: #666;
    font-size: 12px;
    font-family: "宋体";
}
/*.login-bottom*/
.login-bottom{
    width:1200px;
	height:45px;
	margin:0 auto;
	line-height:45px;
}
.login-bottom>div>a{color:#999;}
.login-bottom>div{
	font:12px "微软雅黑";
	color:#999;
	line-height:45px;}

/*///////////////////////////////////////////////////*/
/*平板电脑页面*/
.tpc ul{display: flex;}
.tpc-1{width:1200px;
		  height:350px;
		  overflow:hidden;}
.tpc-1 ul{opacity:1;
		  transition: all 0.5s linear}	  
.tpc-2{margin-top:20px;
	   padding:12px 0;
	}
.tpc-2 ul li,.tpc-3 ul li{
	width:72px;height:23px;
   text-align: center;
	color:#999;
	line-height: 23px;  
}
.tpc-2 ul li a,.tpc-3 ul li a{ 
	font-size:14px; 
	color:#666;
	display: inline-block;
	width:72px;height:23px;
}
.tpc-2pg{
	background:url(../images/tt4.png) repeat-x;
	border-radius: 4px;
}
.tpc-3{padding:12px 0;}
.tpc-3 span{
	display:inline-block;
	width:12px;height:8px;
	background:url(../images/jj06.png) 5px center no-repeat;
	/*background:url(../images/jj05.png) 5px center no-repeat;*/
}
/*4*/
.tpc-4{
	margin-top:15px;
}
.tpc-4>ul{width:1213px;
	margin-left:-13px;
	display:block;}
.tpc-4>ul>li{
	width:290px;
	height:325px;
    margin-bottom:15px;
	text-align: center;
	background:#fff;
	margin-left:13px;
	float: left;
}							
.tpc-4>ul:after{
	content:"";
	display:block;
	clear:both;
}
.tpc-4 ul li img,
.collect ul li img{
	display: inline-block;
	width:200px;height:200px;
	margin:20px 0 0;
}
.tpc-4 h3,.tpc-4 p,.collect h3,.collect p{
	width:190px;
	text-align: left;
	margin:10px auto 0;
}
.tpc-4 ul li h3,
.collect ul li h3{ margin-top:2px}
.tpc-4 ul li p,
.collect ul li p{ 
	width:190px;
	height:20px;
	line-height: 20px;
}
/*    */
.tpc-4>ul>li:hover,
.collect>ul>li:hover{
	box-shadow: 0px 15px 30px 0 rgba(0,0,0,0.1);				
	transform:translate(0,-2px)
}
/*                                                  */
 /*配送及服务*/
.serve-1{
	height:30px;
	line-height: 30px;
}
.serve-1 span{color:#0061ae}
.serve-2{
	width:1160px;
	padding:15px 20px 45px;
	background:#fff;
}
.serve-2-t1{
	height:40px;
	margin-bottom: 8px
}
.serve-2-t1 h1{
	font:24px "微软雅黑";
	color : #126cb4;
	line-height: 40px;
}
.serve-2-t1 ul{
	float: right;
	display: flex;
}
.serve-2-t1 ul li {
	margin-left:25px;
	line-height: 40px;
}
.serve-2-t1 ul li a{
	font:14px "宋体" ;
	color : #333;
	padding-left:8px;
}
/****/
.serve-2-t1 ul li a:hover{
	background:url(../images/bt.png) no-repeat 0 4px;
	color:#ff9200;
}
/***/
.serve-2-t2{margin-bottom:20px}
.serve-2-t3{height:260px;
			padding-top:20px;
}
/*serve-commitment*/
.serve-commitment{
	color:#b4b4b4;
	line-height: 25px;
}
/*Computer**************************************/
a:hover {
	color: #0056b3;
	text-decoration: none;
}
.Computer-1{height:30px;}
.Computer-1 ul{display: flex}
.Computer-1 ul li {line-height: 30px}
.Computer-1 ul li:last-child{color: #0061ae}
.Computer-2{
	box-sizing: content-box;
	height:577px;
	padding:15px;background:#fff;
	display: flex; 
}
/*商品详情图片*/
.Computer-2-left{position: relative;}
.Computer-2-left #div-mImg img{
	width:420px;
	height:420px; 
}
.Computer-2-left #ulsImg{
	margin:10px 0 0 28px;
	display: flex;}
.Computer-2-left #ulsImg img{
	width:70px;height:70px;
}
.Computer-2-left #ulsImg img:hover,
.Computer-2-left #ulsImg img.active{/*光标获取,触发时样式*/
	border-radius: 0px;
	border:2px solid #0061ae;
}
.Computer-2-left>.div-zoom{
	width:210px;height:210px;
	border:1px solid #5e5e5e;
	background:#ffa;
	opacity: 0.5;
	position:absolute;
	top:0px;
}/*放大镜*/
.Computer-2-left>.protectiveFilm{
	width:420px;height:420px;
	position:absolute;
	top:0px;
}/*保护膜*/
.Computer-2-left>.lgImg{
	width:420px;
	height:420px;
	position:absolute;
	border:1px solid #5e5e5e;
	left: 420px;
	top:0px;
}/*大图*/
/*Computer-2-right具体性能.+-*/
.Computer-2-right{
	width:710px;height:577px;
	margin-left:40px;  
}
.Computer-title{
	font: 26px "微软雅黑";
	margin-bottom:52px;
	color:#1d1d1d;
}
.Computer-color{
	height:54px;margin-left: 5px; padding:5px 0;
	font: 14px "宋体";
	color: #333333;
	display: flex;
	line-height: 32px;
	text-indent:8px}
.Computer-color li{ 
	height: 34px;
	margin:0 15px 10px 0;
	border: 1px solid red;
	font-size: 12px;
	color: #070705;
	background:url(../images/d.png) no-repeat right bottom;
	text-indent:0  
}
.Computer-color  .px20{padding:0 20px}
.Computer-quantity{
	height:41px;
	font: 14px 宋体;
	color: #333333;
	margin-left:12px ;  
}
.Computer-quantity input{
	width: 52px;height:32px;
	margin: 0 -7px;
	text-align: center;
	border:1px solid #eee;
	font:12px "微软雅黑";
}
.Computer-quantity img{vertical-align:top}
.Computer-quantity span{width:31px}
.Computer-quantity .font999{vertical-align:bottom}
.Computer-click{margin:35px 0 37px}
.Computer-click .bg-primary{ 
	background:#0061ae;
	color: #ffffff;
	font-weight: 600;
	width:130px;
	height:36px;
}
.Computer-click .bg-warning{
	background:#ff9200;
	color: #ffffff;
	font-weight: 600;
	width:160px;
	height:36px;
	margin-left:5px;
}
.Computer-collect{
	font:12px 宋体;
	color: #666666;
}
/*3左侧推荐商品列表*/
.Computer-3{
	margin-top:15px;
	border-top:2px solid #f6f6f6;
	display: flex;
	justify-content: space-between;
}
.Computer3-left{width:220px;height:1850px;}
.Computer3-left-t1{
	border: 1px solid #eeeeee;
	margin-bottom: 15px;
}
.bgzi{
	width:100%;height: 44px;
	background:#f1f1f1;
	font: 17px 微软雅黑;
	color:#393939;
	border-radius:5px 5px 0 0 ;
	line-height: 44px;
	padding-left: 30px;
}
.Computer3-left-t1 ul li{
	width:100%;height:40px;
	border-bottom: 1px solid #eeeeee;
	padding-left: 30px;  
}
.Computer3-left-t1 ul li span{
	margin-right:10px;
	font-weight: 900 ;
	font-size: 20px;
	color:#126cb4;
	line-height: 10px;
}
.Computer3-left-t1 ul li a{
	font-size: 14px;
	color: #666666;
	line-height: 40px;
}
.Computer3-left-t2 ul{
	background: #ffffff;
	padding:10px; 
}
.Computer3-left-t2no {
	background: url(../images/hg.png) no-repeat;
	margin-bottom: 6px;
	font:13px 微软雅黑;
}
.Computer3-left-t2no p{	
	line-height: 20px;
	margin-left: 25px;
}
.Computer3-left-t2 ul li a img {width:100%}
.Computer3-left-t2 ul li a img:hover{border:3px solid #0066cc }
.Computer3-left-t2 .font666{
	text-align: center;
	margin-top: 8px;}
.Computer3-left-t2jg{
	font: 13px 微软雅黑;
	color:#000;
	text-align: center;
	margin-bottom: 16px;
}
/* Computer3-right商品详情参数规格*/
.Computer3-right{width:950px;}
.Computer3-right-1{
	height:51px;
	background: #fff;
}
.Computer3-right-1 ul{display:flex;}
.Computer3-right-1 ul li a{
	width:113px;height:50px;
	font:18px "微软雅黑";
	color:#000;
	line-height:30px;
}
.Computer3-right .nav-tabs .nav-link.active{
	color:#126cb4;
	border-top:3px solid #126cb4;
	border-radius: 0px;
	line-height:27px;
}
.Computer3-right-2{
	padding:20px;
	background: #fff;
}
.Computer3-right-2 ul li a{color:#333333}
.Computer3-right .bg-h{
	background-color: #f9f9f9;
	height:40px;
	width:960px;
	margin-left:-25px;
	margin-top:-20px;
}

.Computer3-right .min-h{min-height:50px}
.Computer3-right-2 .nav-tabs .nav-link.active{
	line-height:16px;
	color: #333333
}
/*个人中心personage*********************************/
.pt1{
	display: flex;
	height:30px;
	line-height: 30px;
}
.Pt1-ulspan{
	width: 30px;
	text-align:center;
	display: inline-block;	
}
.pt1 a{color: #666666}
a.pt1-aa{color:#0061ae}
.pt2{
	display: flex;
	justify-content: space-between
}
.pt2-left{
	border:1px solid #e7e7e7;
	width:220px;
	background: #ffffff;
}
.pt2-left>h1{
	background:#0061ae;
	height:42px;			 
	font:18px '微软雅黑';
	line-height: 42px;
	text-indent:40px;		 
}
.pt2-left>h1>a{
	color:#fff;
	line-height:42px;
}
.pt2-left-maxul>li{
	border-bottom:1px dashed #e7e7e7;
	padding-bottom: 10px;
	padding-left:20px; 
}/*分支*/		  
.pt2-left-maxul h2{
	height:20px;
	margin:12px 0;
}	  /*标题*/
.pt2-left-maxul h2>a{
	padding-left:7px;
	font:600 16px '微软雅黑';
	color:#343434;
	background:url(../images/member_pics.png )no-repeat left center;
}/*标题*/
.pt2-left-maxul	li>a{
	display: inline-block;
	line-height:20px;
	color:#777;
	padding:2px 0;
}	
.pt2-left-maxul	li>a:hover{color:#ff9003}					 					
.pt2-right{
	width:960px;
	border:1px solid #e7e7e7;
	margin-bottom: 35px;
	background: #ffffff;
}/*右侧*/
.pt2-RMember{
	height:129px; /*右侧开头*/
	padding:50px;
	border-bottom: 1px dashed #e7e7e7;
	display: flex;
}
.pt2-RMember-portrait{
	width:120px;height:120px;
	padding:3px;
	border:1px solid #cfd3d7 ;
}
.pt2-RMember-data{width:180px;margin-left:15px}/*个人数据内容*/					
.pt2-RMember-data h1{
	font:22px "微软雅黑";
	color:#666;
	margin-bottom: 8px;
}
.pt2-RMember-data p{
	font-size:14px;
	color:#666;
	height:28px;
	line-height:30px;
}
.pt2-RMember-data p>span{color:#ff9200}
.pt2-RMember-data a{
	color:#ff9200;
	display:block;
	width:100%;
	margin-top:15px;
	background:url(../images/xg.PNG) no-repeat 75px;
}
.pt2-RMember-portraitIMG{width:120px;height:120px;}
		/*选项表单*/
.pt2-RMember-option {display: flex;}
.pt2-RMember-option li{text-align: center}
.pt2-RMember-option li:not(:first-child){border-left:1px dashed #cccccc}
.pt2-RMember-option div.bgimg{
	width:80px;height:80px;
	background-image:url(../images/b8.png) ;
	background-size:100%;
	margin:0 25.5px;
}
.pt2-RMember-option div.bgimg2{background-image:url(../images/b9.png);}
.pt2-RMember-option div.bgimg3{background-image:url(../images/b10.png);}
.pt2-RMember-option div.bgimg4{background-image:url(../images/b11.png);}
.pt2-RMember-option	p{
	font:14px '微软雅黑';
	margin-top:8px;
	color: #666;
}	
.pt2-RMember-option	p.aaa{
	font:12px '宋体';
	color:#999
}						
.orderlist{padding:10px} /*订单状态表格*/
.orderlist .w-420{width:420px}
.orderlist .w-130{width:130px}
.orderlist-table{
	vertical-align: center;
	border-spacing:0px;
	border:1px solid #e7e7e7;}
.orderlist-table th{
	background:#e2e2e2;
	height:40px;
	color:#333;
	padding:0;
}					
.orderlist-table td{
	border-bottom:1px dashed #e7e7e7;
	height:30px;
}
.orderlist-table td:not(:first-child){
	border-left:1px dashed #e7e7e7;
	text-align: center;
}	
/*个人信息*/
.pt1-grxx{
	border:1px solid #e7e7e7;
	background: #ffffff;
}
.pt1-personal1{
	font:20px "微软雅黑";
	color:#000;
	line-height: 36px;
	background:#eee;
	padding-left:8px;
}		
.pt1-personal-t1{
	padding-left:65px;
	padding-top:30px;
	display: flex;
}	
.pt1-personal-txnr{margin-left:14px;}
.pt1-personal-txnr p{
	font:12px "微软雅黑";
	line-height:28px;
	padding-bottom:10px;
}	
					/*表格内容样式*/
.pt1-persona-table-td1{
	width:190px;height:35px;	
	line-height: 35px;	
	text-align: right;			
}
.pt1-persona-table-td1	span{
	margin-right:5px;
	color: #FF0000;
	font-size: 18px;
}
.pt1-persona-table-td2{
	text-align: left;
	height:35px;	
	line-height: 35px;
}	
.pt1-persona-table-td2	select{outline: 0}											
.pt1-persona-table-inputtext{
	width: 350px;
	border: 1px solid #ccc;
	font:12px "宋体";
	line-height: 20px;
	padding: 6px 0px;
	text-indent: 5px;
	color:#666;
	outline: 0px;}
.pt1-persona-table select{
	width:120px;
   	height: 30px;						
	color: #777;
	border: 1px solid #CCC;
}							
.pt1-persona-table-an{text-align: center}
.pt1-persona-table-an button{
	width:120px;height:40px;
	background:#0061ae;
	font:18px "微软雅黑";
	color:#fff;
	border:0px;
}	
/*账号安全*/	
.pt1-safety{background:#fff;}
.pt1-safety-t1{
	height:33px;
	margin-bottom:15px;
	border-bottom: 1px solid #ccc;
	padding: 30px 15px;
	display: flex;
}
/* 手机邮箱验证对勾 */			
.pt1-safety-t1-img1{
	width:32px;height:33px;
	margin-right:33px;
	background:url(../images/icon-msg2013.png) no-repeat -63px 0px;
	vertical-align: middle;
}
/* 手机邮箱验证？*/
.pt1-safety-t1-img2{background:url(../images/icon-msg2013.png) no-repeat -32px 0px !important;}
.pt1-safety-t2{
	margin-right:15px;
	font:18px "微软雅黑";
	line-height: 33px;
	color:#666;
	font-weight:bold;
}
.pt1-safety-t3{
	padding:4px 0 4px 15px;
	line-height: 33px;
	width:700px;
	border-left:1px solid #e6e6e6;  
}
.pt1-safety-t4{ 
	line-height: 33px;
	color:#126cb4;
	margin-left:35px;
}
/*收货地址*/
.pt1-shippingaddress-new{
	background:#0061ae;
	color: #fff;
	margin:15px;
	padding:10px 20px;
	width: 142px;
	outline: 0;
	border: 0;
	font: 16px "微软雅黑";
	text-align: center;
	border-radius: 4px;
	cursor: pointer;
	}    
.pt1-shippingaddress-site{
	padding: 15px;
	margin: 15px 0;
	width: 930px;
	border-top:1px solid #eee;
	border-bottom: 1px solid #eee;
}
.pt1-shippingaddress-site ul>li{
	border: 1px solid #e3e3e3;
	padding: 15px 10px;
	margin-bottom: 15px;
}
.pt1-shippingaddress-site ul>li>div:first-child{
	height:25px;						   
	margin-bottom:10px;
	display:flex;
	justify-content:space-between;
}
.pt1-shippingaddress-site ul>li h1{
	font:16px "微软雅黑";
	line-height: 25px;
}								   	
.pt1-shippingaddress-site ul>li>div{
	margin-bottom:5px;
	height:20px;
	line-height: 20px;
	color:#999; 
}
.pt1-shippingaddress-site ul>li>span{color:#666}
.pt1-shippingaddress-site ul>li>div a{
	color:#126cb4;
	margin-left:15px;
	font-size: 14px;
}
.pt1-shippingaddress-site ul>li>div:last-child{
	display: flex;
	justify-content: space-between;
}
.pt1-shippingaddress-site ul>li h1>span{
	background: #ffaa45;
	height:16px;
	line-height: 16px;
	font-size: 12px;
	color: #fff;
	margin-left: 15px;
	padding:2px 8px;
	display:inline-block;
}		
.pt1-shipping-address .pt1-persona-table-inputtext{width:145px;}
/*我的订单*/
.pt-myorder{
	display: flex;
	background:url(../images/tt5.PNG) no-repeat 0 15px;
	height:47px;
	line-height: 47px;
	justify-content: space-between;
}
.pt-myorder-2{
	display: flex;
	line-height:47px;
}		
.pt-myorder-title{
	font: 20px "微软雅黑";
	color: #000;
	line-height:48px;
	text-indent: 10px;
}                           
.pt-myorder-p2{
	padding-left:25px;
	padding-right:20px;
}
.pt-myorder-text2,.pt-myorder-select{
	color: #777;
    background-color: #FFF;      			 
   	padding: 4px;
	border: 1px solid #CCC;
	outline: 0;
}
.pt-myorder-text2{
	width:150px;
	height: 20px;
}	
.pt-myorder-select{
	width:120px;
	height: 30px;
}		 
.pt-myorder-cx{
	background:#0061ae;
	width:55px;height:30px;				
	color:#fff;
	cursor: pointer;
	border: 0;outline: 0;
	font:15px "宋体";
	line-height: 30px;
	margin-top:8px;
}
/*我的退换货*/
.pt1-salesreturn-bg{
	background:#f9f9f9;
	border:1px solid #e7e7e7;
	padding-bottom: 200px;
}
.pt1-salesreturn{
	display:flex;
	justify-content: space-between;
	border-bottom: 1px solid #e7e7e7;
}
.pt1-salesreturn-tablebg{
	background:#fff;
	border-collapse:collapse;
}		
.pt1-salesreturn-tablebg th,
.pt1-salesreturn-tablebg td{
	border-bottom:1px solid #e7e7e7;
	width:100px;height:36px;
}						 
.pt1-salesreturn-tablebg th:last-child{width:160px}						 		
.pt1-salesreturn-tablebg th:first-child{width:400px}
.pt1-salesreturn-tablebg td:not(:first-child){
	border-left:1px dashed #e7e7e7;
	 text-align: center;
}
/*我的评价*/
.pt1-evaluate-table{border-collapse: collapse;}
.pt1-evaluate-table th{
	background:#e2e2e2;
	height:42px;
	color:#333;
}
.w-80{width:80px !important}
.w-355{width:355px !important}
.w-255{width:255px !important}
.w-265{width:265px !important}
.pt1-evaluate-table td{
	border-bottom: 1px solid #e7e7e7;
	height:42px;
}
.pt1-evaluate-table td:not(:first-child){
	border-left: 1px dashed #e7e7e7;
	text-align: center;
}
/*我的收藏*/
.collect>ul{ 
	flex-flow:row wrap;
	justify-content: space-between; 
 }
.collect>ul>li{
	width:290px;
	height:325px;
    margin-bottom:15px;
	text-align: center;
	background:#fff
}
.collect{margin-top:15px;}
.collect ul{
	margin-left:-13px;display: flex;
	flex-flow:row wrap;
	justify-content:flex-start;
} /*对齐方式*/
.collect ul>li{
	width:230px;margin-left:13px;
}
.collect ul:after{
	content:"";
	display:block;
	clear:both;
} 
/*浏览历史*/
.pt1-browsinghistory{margin-bottom:35px;}
.pt1-browsinghistory>div:not(:first-child){
	padding:15px 0;       
	 margin-bottom:10px;
}
.pt1-browsinghistory h1{
	height: 40px;
	margin-bottom:10px;
	line-height:40px;
	font-size:18px;
	font-family: 'Microsoft Yahei';
	font-weight:400;
	color: #666;
	text-indent: 30px;
	background:url(../images/p-line03.jpg) no-repeat left center
}
.pt1-browsinghistory i,.pt1-browsinghistory a{
	font-size: 12px;
	color: #999;
	padding-left:16px;
}
.pt1-browsinghistory p{text-align: center}
.pt1-browsinghistory-ul{width:980px;margin-left:-10px; }/*浏览商品图片排版*/
.pt1-browsinghistory-ul>li{
	width:230px;height:235px;
	padding:15px 0;
	margin-bottom:20px;
	float: left;
	margin-left:10px;
	border:1px solid transparent;
	position: relative;
}						
.pt1-browsinghistory-ul>li>div>a>img,
.pt1-browsinghistory-ul>li>div{
	width:200px;height:200px;
}								
.pt1-browsinghistory-ul>li>p{
	height: 35px;
	text-align: center;
	color: #333;
	font:18px "微软雅黑";
	line-height:35px;
}
.pt1-browsinghistory-ul>li>a span{
	display: block;
	width:35px;height:35px;
	background: url(../images/p-del.png);
	position: absolute;
	top:0;right:0;
}								
.pt1-browsinghistory-ul:after{
	content:"";
	display:block;
	clear:both;
}									
.pt1-browsinghistory-ul>li:hover{border:1px solid #0061ae}											 
/*reg*/
.loginz>.height{line-height: 30px}
.reg-verift{
	width:80px;
	text-indent:8px
}
.reg-toverift{
	width:92px;height:42px;
	border: 0px;
	background:#ddd;
	margin-left:10px;
    line-height:42px; 
}
.loginz div>a.reg-alteRverift{
	color:#666;
	margin-left:6px;
	line-height:65px;
}	
.reg-imglocated	{margin-left:10px;}						 	
/*shoppingcart.*/
.shopping-flow{
	margin-bottom:20px;
	text-align:right;
	margin-bottom:20px;
}
		/*shopping流程*/
.shopping-flow ul{
	display: flex;
	justify-content:flex-end;
}
.shopping-flow ul>li{width:120px;height:50px;}			
.shopping-flow ul li h1{
	color: #fff;
	text-align: center;
	font:12px "宋体";
	line-height: 30px;
	background: url(../images/xd02.png) no-repeat center center;
}	
.shopping-flow ul li p{
	margin-top:6px;
	text-align: center;
}	
						/*流程已完成黄色圈*/							
.shopping-flowgoing h1{background: url(../images/xd01.png) no-repeat center center !important}
.shopping-flowgoing	p{color: #ff9200 !important}
						/*黄色箭头*/							
.shopping-arrows{background: url(../images/xd04.png) no-repeat left center !important}
						/*灰色箭头*/
.shopping-noarrows{background: url(../images/xd05.png) no-repeat left center }
.shoppingcart-div{margin-bottom:20px}
.shoppingcart-table{border-collapse:collapse}
.shoppingcart-table th{
	background:#1488e4;
	height:42px;
	color: #fff;
	font-size: 14px;
}
					/*表格所有td*/	
.shoppingcart-table td{
	height:133px;
	background:#fff;
	text-align: center;
	font-family:"微软雅黑";
}	
					/*各种宽度*/					
.w-53{width:53px}
.w-373{width:373px}
.w-153{width:153px}
.w-156{width:156px}
				/*tbody*/
.shoppingcart-table tbody{border:1px solid #ededec}
.shoppingcart-table tbody td + td{border-left:1px dashed #ededec}
.shoppingcart-table tbody td{font-size:14px;border-top:1px solid #edecec }					
.shoppingcart-table tbody td a{color:#666}
						/*商品图片 介绍*/
.shoppingcart-table tbody tr>td:nth-child(2) img{
	width:92px;
	height:92px;
	margin-right: 10px;
}
.shoppingcart-table tbody tr>td:nth-child(2) span{
	float: left;
	max-width: 220px;
	text-align:left;
	font-size: 13px;
	line-height: 18px;
}
.shoppingcart-table tbody tr>td:nth-child(5){
	display:flex;
	justify-content:center;
	align-items: center;
}
.shoppingcart-table tbody tr>td:nth-child(5) div{width:21px;height:32px;}
.shoppingcart-table tbody tr>td:nth-child(5) input{
	outline:0;
	width:52px;height:30px;
	border: 1px solid #e8e8e8;
	color: #000;
	font-size:14px;
	text-align:center;
}		  
				/*tfoot*/
.shoppingcart-tfoot>td{
	background:#f5f5f5;
	height:50px;
}
					/*点击事件*/
.shoppingcart-tfootdeldct{
	font-size: 14px;
	color: #444;
	cursor: pointer;
}				
							/*结算按钮*/						
.shoppingcart-tfoot-button{
	background: #fc1818;
	color:#fff;
	width:134px;height:50px;
	border:0;outline: 0;
	margin-left: 60px;
	font-size: 18px;
	padding: 0;
	font-weight:500;
}
.shoppingcart-tfoot-total{
	display: inline-block;
	font-size: 16px;
	color: #333;
}
.shoppingcart-tfoot-total>span{color:#f00}
/*                              */
